
body{

    background:black;
    
text-align: center;
}
h1{
    color: darkgreen;
    text-align: center;
    font-size: 50px;
    font-weight: 300;
}

.cont-c {

width: 300px;
margin: auto;
background:darkgreen;
padding: 30px;


}
.cont-c table{

margin:0 auto;
background:black;

}
.cont-c table tr td button{

width: 60px;
height: 60px;
font-size: 40px;
border-radius: 15px 50px;
background: black;
color: darkgreen;
cursor: pointer;

}
.cont-c table tr td button:hover{
background: darkgrey;
color:black;

}

#pantalla {
display:block;
text-align: right;
font-size: 40px;
background:black;
border:1px black;
border-radius: 10px;
margin-bottom: 20px;
width: 100%;
height: 100px;
color:darkgreen ;
line-height: 100px;


}







